<aside class="main-sidebar sidebar-dark-primary elevation-4 color-fondo" style="height: 100vh;">
    <!-- Brand Logo -->
    <a href="https://krugercorp.com/" class="brand-link">
        <img src="assets/krugerLogo.png" alt="Kruger Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Kruger Corp</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar scrollbar-person scroll-X scroll-Y">
        <!-- (Datos del Usuario) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/SVG/user.svg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block name-color">{{name}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- (Home) -->
                <li class="nav-item" id="dashboard">
                    <a class="nav-link" routerLink="/dashboard">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                <!-- (User List) -->
                <li class="nav-item" [ngClass]="{'not-active' : !desactivateUsers}" id="user-list">
                    <a class="nav-link" routerLink="/user-registration">
                        <i class="nav-icon fas fa-users"></i>
                        <p>User List</p>
                    </a>
                </li>
                <!-- (Users) -->
                <li class="nav-item" [ngClass]="{'not-active' : desactivateUsers}">
                    <a class="nav-link" routerLink="/user-profile" id="usuario">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Usuarios</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>